@media (min-width: 900px){
    header{
        flex-direction: row;
        height: 240px;
    }
    .image__container {
        padding: 24px;
    }
    header img {
        height: 160px;
    }
    .header__title--container{
        margin-top: 64px;
        height: 160px;
    }
    .header__title--container h1 {
        font-size: 2.8rem;
    }
    .header__title--container p{
        font-size: 1.8rem;
        width: 85%;
    }
    .header__title--container .header__button {
        top: 180px;
    }
    .main__exchange--container h2{
        font-size: 2.8rem;
    }
    .main__exchange--container p{
        font-size: 1.8rem;
    }
    .main__tables--container{
        display: flex;
        margin-top: 40px;
    }
    .currency__table--container td{
        font-size: 2.2rem;
    }
    .product-cards--container .product-detail--title{
        font-size: 2.2rem;
    }
}